<nav class="bottom-menu">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
        <i class="bi bi-house-door"></i>
        <span>Home</span>
    </NavLink>
    
    <NavLink class="nav-item" href="inventories">
        <i class="bi bi-box-seam"></i>
        <span>Inventory</span>
    </NavLink>
    
    <NavLink class="nav-item" href="scan">
        <div class="scan-button">
            <i class="bi bi-upc-scan"></i>
        </div>
    </NavLink>
    
    <NavLink class="nav-item" href="reports">
        <i class="bi bi-bar-chart"></i>
        <span>Reports</span>
    </NavLink>
    
    <NavLink class="nav-item" href="profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
    </NavLink>
</nav>