<div class="side-nav">
    <NavLink class="side-nav-item" href="" Match="NavLinkMatch.All" @onclick="CloseMenu">
        <i class="bi bi-house-door"></i>
        <span>Home</span>
    </NavLink>
    
    <NavLink class="side-nav-item" href="inventories" @onclick="CloseMenu">
        <i class="bi bi-box-seam"></i>
        <span>Inventory</span>
    </NavLink>
    
    <NavLink class="side-nav-item" href="scan" @onclick="CloseMenu">
        <i class="bi bi-upc-scan"></i>
        <span>Scan</span>
    </NavLink>
    
    <NavLink class="side-nav-item" href="reports" @onclick="CloseMenu">
        <i class="bi bi-bar-chart"></i>
        <span>Reports</span>
    </NavLink>
    
    <NavLink class="side-nav-item" href="profile" @onclick="CloseMenu">
        <i class="bi bi-person"></i>
        <span>Profile</span>
    </NavLink>
</div>

@code {
    public bool IsOpen { get; set; }

    private void CloseMenu()
    {
        IsOpen = false;
    }
}