@using ShelfBuddy.ClientInterface.Services
@using ShelfBuddy.Contracts

@if (_product is null)
{
    return;
}

<span>@(_product.Name)</span>

@code {
    [Parameter]
    public Guid ProductId { get; set; }
    [Parameter]
    public int Quantity { get; set; }

    [Inject]
    public IProductService ProductService { get; set; } = default!;

    private ProductDto? _product;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var getProductResult = await ProductService.GetAsync(ProductId);
        if (!getProductResult.IsError)
        {
            _product = getProductResult.Value;
        } 
    }

}
